<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>팝빌 SDK Express Example. </title>
  </head>

  <body>
		<div id="content">
			<p class="heading1">Response</p>
			<br/>
			<fieldset class="fieldset1">
				<legend><%=path%></legend>
				<%
					result.forEach(function(result, index){
				%>
				<fieldset class="fieldset2">
				<ul>
					<li>itemKey: <%=result.itemKey%></li>
					<li>taxType: <%=result.taxType%></li>
					<li>writeDate: <%=result.writeDate%></li>
					<li>regDT: <%=result.regDT%></li>
					<li>invoicerCorpName: <%=result.invoicerCorpName%></li>
					<li>invoicerCorpNum: <%=result.invoicerCorpNum%></li>
					<li>invoicerMgtKey: <%=result.invoicerMgtKey%></li>
					<li>invoicerPrintYN: <%=result.invoicerPrintYN%></li>
					<li>invoiceeCorpName: <%=result.invoiceeCorpName%></li>
					<li>invoiceeCorpNum: <%=result.invoiceeCorpNum%></li>
					<li>invoiceeMgtKey: <%=result.invoiceeMgtKey%></li>
					<li>inoivceePrintYN: <%=result.inoivceePrintYN%></li>
					<li>supplyCostTotal: <%=result.supplyCostTotal%></li>
					<li>taxTotal: <%=result.taxTotal%></li>
					<li>purposeType: <%=result.purposeType%></li>
					<li>modifyCode: <%=result.modifyCode%></li>
					<li>issueType: <%=result.issueType%></li>
					<li>issueDT: <%=result.issueDT%></li>
					<li>lateIssueYN : <%=result.lateIssueYN%></li>
					<li>preIssueDT: <%=result.preIssueDT%></li>
					<li>stateCode: <%=result.stateCode%></li>
					<li>stateDT: <%=result.stateDT%></li>
					<li>stateMemo: <%=result.stateMemo%></li>
					<li>openYN: <%=result.openYN%></li>
					<li>openDT: <%=result.openDT%></li>
					<li>ntsresult: <%=result.ntsresult%></li>
					<li>ntsconfirmNum: <%=result.ntsconfirmNum%></li>
					<li>ntssendDT: <%=result.ntssendDT%></li>
					<li>ntsresultDT: <%=result.ntsresultDT%></li>
					<li>ntssendErrCode: <%=result.ntssendErrCode%></li>
				</ul>
				</fieldset>
				<%
					});
				%>
			</fieldset>
		 </div>
	</body>
</html>
