<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" media="screen" />
		
		<title>팝빌 SDK Nodejs - Express Example.</title>
	</head>
	<body>
		<div id="content">
			<p class="heading1">Response</p>
			<br/>
			<fieldset class="fieldset1">
				<legend><%=path%></legend>
				<% 
					result.forEach(function(result, index){
				%>
				<fieldset class="fieldset2">
				<ul>
					<li> state : <%=result.state%></li>
					<li> subject : <%=result.subject%></li>
					<li> messageType : <%=result.type%></li>
					<li> content : <%=result.content%></li>
					<li> sendNum : <%=result.sendNum%></li>
					<li> receiveNum : <%=result.receiveNum%></li>
					<li> receiveName : <%=result.receiveName%></li>
					<li> reserveDT : <%=result.reserveDT%></li>
					<li> sendDT : <%=result.sendDT%></li>
					<li> resultDT : <%=result.resultDT%></li>
					<li> sendResult : <%=result.sendResult%></li>
				</ul>
				</fieldset>
				<%
					});
				%>
			</fieldset>
		 </div>
	</body>
</html>