<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>팝빌 SDK Express Example. </title>
  </head>

  <body>
		<div id="content">
			<p class="heading1">Response</p>
			<br/>
			<fieldset class="fieldset1">
				<ul>
				  <li>code (응답코드) : <%=result.code%></li>
				  <li>message (응답메시지) : <%=result.message%></li>
				  <li>total (총 검색건수) : <%=result.total%></li>
				  <li>perPage (페이지당 검색개수) : <%=result.perPage%></li>
				  <li>pageNum (페이지 번호) : <%=result.pageNum%></li>
				  <li>pageCount (페이지 개수) : <%=result.pageCount%></li>
				</ul>
				<legend><%=path%></legend>
				<%
					result.list.forEach(function(searchInfo, index){
				%>

				<fieldset class="fieldset2">
				<legend>조회결과 [ <%=( (result.pageNum-1) * result.perPage) + (index+1)%> / <%=result.total%> ] </legend>
				<ul>
						<li>sendState : <%=searchInfo.sendState%></li>
						<li>convState : <%=searchInfo.convState%></li>
						<li>sendNum : <%=searchInfo.sendNum%></li>
						<li>receiveNum : <%=searchInfo.receiveNum%></li>
						<li>receiveName : <%=searchInfo.receiveName%></li>
						<li>sendPageCnt : <%=searchInfo.sendPageCnt%></li>
						<li>successPageCnt : <%=searchInfo.successPageCnt%></li>
						<li>failPageCnt : <%=searchInfo.failPageCnt%></li>
						<li>refundPageCnt : <%=searchInfo.refundPageCnt%></li>
						<li>cancelPageCnt : <%=searchInfo.cancelPageCnt%></li>
						<li>reserveDT : <%=searchInfo.reserveDT%></li>
						<li>receiptDT : <%=searchInfo.receiptDT%></li>
						<li>sendDT : <%=searchInfo.sendDT%></li>
						<li>resultDT : <%=searchInfo.resultDT%></li>
						<li>sendResult : <%=searchInfo.sendResult%></li>
						<li>fileNames : <%=searchInfo.fileNames%></li>
					</ul>
				</fieldset>
				<%
					});
				%>
			</fieldset>
		 </div>
	</body>
</html>
