<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>팝빌 SDK Express Example. </title>
  </head>
  
  <body>
		<div id="content">
			<p class="heading1">Response</p>
			<br/>

			<fieldset class="fieldset1">
				<legend><%=path%></legend>
				<fieldset class="fieldset2">
					<ul>
						<li>itemCode : <%=result.itemCode%></li>
						<li>mgtKey : <%=result.mgtKey%></li>
						<li>tradeDate : <%=result.tradeDate%></li>
						<li>tradeUsage : <%=result.tradeUsage%></li>
						<li>tradeType : <%=result.tradeType%></li>
						
						<li>taxationType : <%=result.taxationType%></li>
						<li>supplyCost : <%=result.supplyCost%></li>
						<li>tax : <%=result.tax%></li>
						<li>serviceFee : <%=result.serviceFee%></li>
						<li>totalAmount : <%=result.totalAmount%></li>
						
						<li>franchiseCorpNum : <%=result.franchiseCorpNum%></li>
						<li>franchiseCorpName : <%=result.franchiseCorpName%></li>
						<li>franchiseCEOName : <%=result.franchiseCEOName%></li>
						<li>franchiseAddr : <%=result.franchiseAddr%></li>
						<li>franchiseTEL : <%=result.franchiseTEL%></li>

						<li>identityNum : <%=result.identityNum%></li>
						<li>customerName : <%=result.customerName%></li>
						<li>itemName : <%=result.itemName%></li>
						<li>orderNumber : <%=result.orderNumber%></li>

						<li>email : <%=result.email%></li>
						<li>hp : <%=result.hp%></li>
						<li>fax : <%=result.fax%></li>
						<li>faxsendYN : <%=result.faxsendYN%></li>
						<li>smssendYN : <%=result.smssendYN%></li>

						<li>confirmNum : <%=result.confirmNum%></li>
						<li>orgConfirmNum : <%=result.orgConfirmNum%></li>
					</ul>	
				</fieldset>
			</fieldset>
		 </div>
	</body>
</html>