<!DOCTYPE html>
<html>

    <head>
        <link rel='stylesheet' href='/stylesheets/style.css'/>
        <title>팝빌 SDK Express Example. </title>
    </head>

    <body>
        <div id="content">
            <p class="heading1">Response</p>
            <br/>
            <fieldset class="fieldset1">
                <legend><%= path %></legend>
                <ul>
                    <li>응답코드 (Response.code) : <%= code %></li>
                    <li>응답메시지 (Response.message) : <%= message %></li>
                    <li>국세청 승인번호 (Response.confirmNum) : <%= confirmNum %></li>
                    <li>거래일자 (Response.tradeDate) : <%= tradeDate %></li>
                    <li>거래일시 (Response.tradeDT) : <%= tradeDT %></li>
                </ul>
            </fieldset>
        </div>
    </body>

</html>
