<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <title>팝빌 SDK Express Example. </title>
</head>
<body>
<div id="content">
    <p class="heading1">Response</p>
    <br/>
    <fieldset class="fieldset1">
        <legend><%= path %></legend>
        <ul>
            <li>id (아이디) : <%= result.id %></li>
            <li>personName (담당자 성명) : <%= result.personName %></li>
            <li>email (담당자 메일) : <%= result.email %></li>
            <li>tel (담당자 휴대폰) : <%= result.tel %></li>
            <li>searchRole (권한) : <%= result.searchRole %></li>
            <li>mgrYN (역할) : <%= result.mgrYN %></li>
            <li>state (계정상태) : <%= result.state %></li>
        </ul>
    </fieldset>
</div>
</body>
</html>
