<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>팝빌 SDK Express Example. </title>
  </head>
  
  <body>
		<div id="content">
			<p class="heading1">Response</p>
			<br/>
			<fieldset class="fieldset1">
				<legend><%=path%></legend>
				<% 
					result.forEach(function(result, index){
				%>
				<fieldset class="fieldset2">
				<ul>
					<li>serialNum: <%=result.serialNum%></li>
					<li>attachedFile : <%=result.attachedFile%></li>
					<li>displayName : <%=result.displayName%></li>
					<li>regDT : <%=result.regDT%></li>
				</ul>
				</fieldset>
				<%
					});
				%>
			</fieldset>
		 </div>
	</body>
</html>
