<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>팝빌 SDK Express Example. </title>
  </head>

  <body>
		<div id="content">
			<p class="heading1">Response</p>
			<br/>
			<fieldset class="fieldset1">
				<legend><%=path%></legend>
				<ul>
					<li>itemKey: <%=result.itemKey%></li>
					<li>itemCode: <%=result.itemCode%></li>
					<li>invoiceNum: <%=result.invoiceNum%></li>
					<li>mgtKey: <%=result.mgtKey%></li>
					<li>stateCode: <%=result.stateCode%></li>
					<li>taxType: <%=result.taxType%></li>
					<li>purposeType: <%=result.purposeType%></li>
					<li>writeDate: <%=result.writeDate%></li>
					<li>senderCorpName: <%=result.senderCorpName%></li>
					<li>senderCorpNum: <%=result.senderCorpNum%></li>
					<li>receiverCorpName: <%=result.receiverCorpName%></li>
					<li>receiverCorpNum: <%=result.receiverCorpNum%></li>
					<li>supplyCostTotal: <%=result.supplyCostTotal%></li>
					<li>taxTotal: <%=result.taxTotal%></li>
					<li>issueDT: <%=result.issueDT%></li>
					<li>stateDT: <%=result.stateDT%></li>
					<li>openYN: <%=result.openYN%></li>
					<li>stateMemo: <%=result.stateMemo%></li>
					<li>regDT: <%=result.regDT%></li>
				</ul>
			</fieldset>
		 </div>
	</body>
</html>
